<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django with MySQL - CRUD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body> 
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">Home</li>
            </ol>
        </nav>
        <div class="row mt-5">
            <div class="col-md-5">
                <div class="card p-3">
                    <div class="card-body">
                        <h4>Add Customer</h4><hr>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control form-control-sm" name="customer_name" required>
                            </div> 
                            <div class="mb-3">
                                <label class="form-label">Email Id</label>
                                <input type="email" class="form-control form-control-sm" name="customer_email" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">City</label>
                                <input type="text" class="form-control form-control-sm" name="customer_city" required> 
                            </div> 
                            <input type="submit" value="Save Customer" class="btn btn-primary btn-sm">
                        </form> 
                    </div> 
                </div>
            </div>
            <div class="col-md-7">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Sno</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>City</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in record %}
                        <tr>
                            <td>{{forloop.counter}}</td> 
                            <td>{{row.cname}}</td>
                            <td>{{row.cemail}}</td>
                            <td>{{row.ccity}}</td>
                            <td><a href="customer_edit/{{row.id}}" class="btn btn-warning btn-sm">Edit</a></td>
                            <td><a href="customer_delete/{{row.id}}" class="btn btn-danger btn-sm">Delete</a></td>
                        </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
