.one{
    color: red;
    text-align: left;
    height: 50px;
    width: 50px;
}
.two{
    color: blue;
    text-align: center;
    height: 50px;
    width: 50px;
}
.three{
    color: yellow;
    text-align: right;
    height: 50px;
    width: 50px;
}